In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("customer_database.db")

In [3]:
cursor = db.cursor()

In [4]:
cursor.execute("CREATE TABLE IF NOT EXISTS customer_data(customer_number INT PRIMARY KEY, customer_Name TEXT, contact_Last_Name TEXT, contact_First_Name TEXT, phone INT, address_Line1 TEXT, address_Line2 TEXT, city TEXT, state TEXT, postal_code INT, country TEXT, sales_Rep_Employee_Number INT, credit_Limit INT)")

In [7]:
cursor.execute("INSERT INTO customer_data(customer_number, customer_Name, contact_Last_Name,contact_First_Name, phone, address_Line1, address_Line2, city, state, postal_code, country, sales_Rep_Employee_Number, credit_Limit) VALUES (3020, 'John', 'Wick', 'Wade', 9899887701, 'a2 block', 'lincoln street1', 'edinburgh', 'london', 400001, 'United Kingdom', 42110, 4000)")

db.commit()

print (cursor.rowcount," Record(s) inserted")

1  Record(s) inserted

In [9]:
results = cursor.execute("SELECT * FROM customer_data")
for row in results:
    print(row)

(3020, 'John', 'Wick', 'Wade', 9899887701, 'a2 block', 'lincoln street1', 'edinburgh', 'london', 400001, 'United Kingdom', 42110, 4000)

In [10]:
with open("C:/Users/hp/customer_data.csv",'r') as file:
        no_records = 0
        for row in file:
            cursor.execute("INSERT INTO customer_data VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?)",row.split(","))
            db.commit()
            no_records +=1
            
print(no_records, 'Records Inserted')

11 Records Inserted

In [11]:
results = cursor.execute("SELECT * FROM customer_data")
for row in results:
    print(row)

(3020, 'John', 'Wick', 'Wade', 9899887701, 'a2 block', 'lincoln street1', 'edinburgh', 'london', 400001, 'United Kingdom', 42110, 4000)
(3021, 'Aaron', 'Nicolson', 'Phillip', 9988776604, 'A appartment', 'Scarcroft Road', 'Portnaguran', 'North Umbria', 400002, 'United kingdom', 42112, 5000)
(3022, 'Salah', 'Pele', 'Anderson', 9988776605, 'B appartment', 'Nenthead Road', 'High Grange', 'Burminghum', 400004, 'United kingdom', 42113, 4500)
(3023, 'Heung-Son', 'Huang', 'Mee', 9988776606, 'C appartment', 'Ilchester Road', 'Myndtown', 'California', 400011, 'United State', 42114, 6200)
(3024, 'Ronaldo', 'Danny', 'Woods', 9988776607, 'D appartment', 'Uxbridge Road', 'Small Dole', 'Wassex', 400025, 'United kingdom', 42115, 3500)
(3025, 'Kane', 'James', 'White', 9988776608, 'E appartment', 'Jedburgh Road', 'Levenshulme', 'Fordner', 400005, 'United State', 42116, 4100)
(3026, 'Mane', 'Cameroon', 'Wayne', 6609998877, 'N appartment', 'Fraserburgh Rd', 'Lidgate', 'Britain', 300085, 'United kingdom', 42117, 3820)
(3027, 'Vardy', 'Martin', 'Collin', 6609998878, 'M appartment', 'Andrews Lane', 'Daddry Shield', 'Nevada', 300165, 'United State', 42118, 3540)
(3028, 'Jota', 'Andrew', 'Deamon', 6609998879, 'K appartment', 'St Denys Road', 'Poughill', 'Oxford', 310045, 'United kingdom', 42119, 3260)
(3029, 'Bruyne', 'Planke', 'Rogers', 6609998880, 'L appartment', 'Park Terrace', 'Gladsmuir', 'Texas', 301025, 'United State', 42120, 2980)
(3030, 'Zaha', 'Lennon', 'Denis', 6609998881, 'R appartment', 'Newgate Street', 'Jameston', 'Melbourne', 300005, 'Australia', 42121, 2700)
(3031, 'Sterling', 'Harper', 'Woolner', 9988776614, 'T appartment', 'Great North Road', 'Alstonefield', 'Denim', 370105, 'United kingdom', 42122, 2420)

In [15]:
cursor.execute("CREATE TABLE IF NOT EXISTS products(product_code INT PRIMARY KEY, product_name TEXT, product_line TEXT, product_scale INT, product_vendor TEXT, product_description TEXT, quantity_instock INT, buyprice INT, MSRP INT)")

In [20]:
cursor.execute("INSERT INTO products(product_code, product_name, product_line, product_scale, product_vendor, product_description, quantity_instock, buyprice, MSRP) VALUES (37, 'Lamborghini', 'Bburago',1/18, 'Biante', 'Die-cast model', 142, 5500,5750)")

In [21]:
with open("C:/Users/hp/products.csv",'r') as file:
        no_records = 0
        for row in file:
            cursor.execute("INSERT INTO products VALUES (?,?,?,?,?,?,?,?,?)",row.split(","))
            db.commit()
            no_records +=1
            
print(no_records, 'Records Inserted')

11 Records Inserted